/* global styles on html elements */
body {
  margin: 0;
  color: antiquewhite;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/pokemon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding: 5vh 3vw;
}

a {
  color: antiquewhite;
  transition: text-shadow 0.2s ease;
  font-size: 1.2rem;
}

a:hover {
  text-shadow: 0 0 10px black
}

input,
button {
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  background-color: antiquewhite;
  transition: box-shadow 0.2s ease;
}

button{
  cursor: pointer;
}

input:focus,
button:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
}

/* google font */
.dynapuff {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}