/* global styles on html elements */
body{
  margin: 0;
  color: antiquewhite;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/pokemon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding-top: 5vh;
}

a{
  color: antiquewhite;
}

input{
  padding: 1px;
  text-align: center;
}

/* google font */
.dynapuff {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}